<div class="container-fluid">
    <div class="row">
        <div class="col-12 border">
            <div class="inputfield">
                <input class="inputfield-textbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-4 border">
            <div class="inputfield hp-inputfield-left">
                <input class="inputfield-textbox hp-textbox-left hp-textbox-left" />
            </div>
        </div>
        <div class="col-12 col-sm-8 border">
            <div class="inputfield hp-inputfield-right">
                <input class="inputfield-textbox hp-textbox-right" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 border">
            <div class="inputfield">
                <input class="inputfield-textbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 border">
            <div class="inputfield">
                <input class="inputfield-textbox" />
            </div>
        </div>
    </div>
</div>